fbody {
    background-color: #DDF5EC;
}

.containerDiv {
    padding-left: 18rem;
}

/*------------------------Accordion Style--------------------------------*/
.Switch {
    display: flex;
    justify-content: flex-start;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    align-items: flex-start;
    flex-direction: column;
}

svg {
    display: none;
}

.tabber {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

    .tabber label {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        font-family: cursive;
        user-select: none;
        padding: 0.7rem;
        cursor: pointer;
        will-change: transform;
        transform: translateZ(0px);
        transition: transform 125ms ease-in-out, filter 125ms ease-in-out;
    }


        .tabber label:hover {
            transform: scale(1.15);
        }

    .tabber input[type=radio] {
        display: none;
    }

        .tabber input[type=radio]#t1 ~ .blob {
            transform-origin: right center;
        }

        .tabber input[type=radio]#t2 ~ .blob {
            transform-origin: left center;
        }

        .tabber input[type=radio]#t1:checked ~ .blob {
            background: rgb(190, 241, 183);
            -webkit-animation-name: stretchyRev;
            animation-name: stretchyRev;
        }

        .tabber input[type=radio]#t2:checked ~ .blob {
            background-color: rgb(245, 193, 126);
            -webkit-animation-name: stretchy;
            animation-name: stretchy;
        }

    .tabber .blob {
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        z-index: -1;
        border-radius: 4rem;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        /*-webkit-animation-direction: forwards;*/
        animation-direction: normal;
        /*animation-direction: forwards;*/
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        transition: transform 150ms ease, background 150ms ease;
        filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1"><defs><filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" /><feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" /><feComposite in="SourceGraphic" in2="goo" operator="atop"/></filter></defs></svg>#goo');
    }

        .tabber .blob:before,
        .tabber .blob:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-radius: 100%;
            transform: scale(1.15);
            transition: transform 150ms ease;
            -webkit-animation-name: pulse;
            animation-name: pulse;
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            animation-direction: alternate;
        }

        .tabber .blob:before {
            left: 0;
            -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
        }

        .tabber .blob:after {
            right: 0;
        }

@-webkit-keyframes stretchy {
    0% {
        transform: translateX(0) scaleX(1);
    }

    50% {
        transform: translateX(0) scaleX(2);
    }

    100% {
        transform: translateX(100%) scaleX(1);
    }
}

@keyframes stretchy {
    0% {
        transform: translateX(0) scaleX(1);
    }

    50% {
        transform: translateX(0) scaleX(2);
    }

    100% {
        transform: translateX(100%) scaleX(1);
    }
}

@-webkit-keyframes stretchyRev {
    0% {
        transform: translateX(100%) scaleX(1);
    }

    50% {
        transform: translateX(0) scaleX(2);
    }

    100% {
        transform: translateX(0) scaleX(1);
    }
}

@keyframes stretchyRev {
    0% {
        transform: translateX(100%) scaleX(1);
    }

    50% {
        transform: translateX(0) scaleX(2);
    }

    100% {
        transform: translateX(0) scaleX(1);
    }
}

@-webkit-keyframes pulse {

    0%, 50% {
        transform: scaleX(1);
    }

    25%, 75% {
        transform: scaleX(1.5);
    }
}

@keyframes pulse {

    0%, 50% {
        transform: scaleX(1);
    }

    25%, 75% {
        transform: scaleX(1.5);
    }
}


/* --------------------------Normal Style------------------------------ */


/*.containerDiv {
            height: 100%;
            width: 90%;
            position: relative;
            right: 0;
            top: 0;
            background: rgb(255 255 255 / 0.00)
        }*/

.ContentTbody {
    border-style: hidden;
}

.accordion-body {
    padding: 0.75rem 1rem;
}

.btn {
    padding: unset;
}

.list-group a:nth-child(even) {
    background-color: #F6FFFC;
}

.list-group a:nth-child(odd) {
    background-color: #FFF2EB;
}

.list-group a:first-child {
    background-color: #FFFFFF
}

.btn_Review {
    color: #6A9657;
    border-color: #ABC69F;
}

    .btn_Review:hover {
        background-color: #73ce8e;
        color: #ffffff;
        border-color: #cff7db;
    }

.btn_Modify {
    color: #AA734B;
    border-color: #C6AF9F;
}

    .btn_Modify:hover {
        background-color: #e4af73;
        color: #ffffff;
        border-color: #f5dbc3;
    }

.btn_Approve {
    color: #6A9657;
    border-color: #ABC69F;
}

    .btn_Approve:hover {
        background-color: #73ce8e;
        color: #ffffff;
        border-color: #cff7db;
    }
/*--------------------Animated Arrow Style------------------------*/
.myCheck {
    display: inline-block;
    transform: rotate(45deg);
    height: 16px;
    width: 8px;
    border-bottom: 3px solid #78b13f;
    border-right: 3px solid #78b13f;
    margin: 0 8px;
}


.center-con {
    position: relative;
    width: 45px;
    /* align-items: center; */
    /* justify-content: end; */
    /* top: auto; */
    bottom: 1.2rem;
    left: 5.8rem;
    z-index: 100;
    padding: 0;
}

.round {
    position: absolute;
    /*border: 2px solid rgb(252, 161, 161);*/
    transform: rotateZ(90deg);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

    #cta .arrow {
        left: 30%;
    }

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 15px;
}

.segunda {
    margin-left: 8px;
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmNhMWExfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

    .round:hover .arrow.primera {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

/*--------------ToolTip Style---------------*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');

.ToolTip_Item:hover .MyToolTip {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

.MyToolTip {
    background-color: #fff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: 5px;
    color: #9932CC;
    background-color: rgba(255, 240, 245, 0.9);
    position: absolute;
    padding-top: 2rem;
    bottom: -6rem;
    left: 52.5rem;
    opacity: 0;
    /* transform: translate(300%, 0); */
    transition: all 0.5s ease;
    text-align: center;
    width: 22rem;
    line-height: inherit;
    visibility: hidden;
}

    .MyToolTip > p {
        font-size: 15px;
    }

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .72s ease
}

tr > td:nth-child(3) {
    text-align: left;
}

tr > td:nth-child(2) {
    width: 35%;
}

tr > th:nth-child(1) {
    width: 23%;
}
