/*Login頁面的 CSS 及 Animation */
section {
    width: 100%;
    height: auto;
    color: #fff;
    background: linear-gradient(-45deg, #dd6945, #cb3ce7, #3bb7e4, #7ef5d9, #ccfaf0);
    background-size: 400% 400%;
    position: relative;
    animation: change 15s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.btn {
    background-color: rgb(255, 255, 255);
    padding: 0%;
    border: none;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
    padding: 5px;
    display: block;
}
