/* #region Validation */
input.myValidation.myInvalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url('../img/invalid_mark.svg');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

input.myValidation.myValid {
    border-color: #198754;
    padding-right: calc(1.5em + .75rem);
    background-image: url('../img/valid_mark.svg');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
/* #endregion Validation */

.containerDiv {
    height: 100%;
    width: 90%;
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(255 255 255 / 0.00)
}

.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cdece0;
    transition: 0.5s;
    padding-top: 28px;
}

    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        text-align: center;
        font-size: 1.8vmin;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #1e0631;
        }

#Title {
    font-size: 2vmin;
    margin-bottom: 3%;
    cursor: default;
}
