#OrderContainer {
    height: 90vh;
    border: 1px solid #edbe87;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#OrderListGroup {
    height: 90vh;
}

    #OrderListGroup > h5 {
        text-align: center;
    }

#OrderListTabPane {
    height: 90vh;
    padding: 32px 4px 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

.arrival-status-span {
    margin-left: 15px;
}

.arrival-cross-badge {
    margin: 0 5px;
}

.tabpane-tilte-badge {
    margin-right: 80px;
}

button.collapsed:disabled {
    color: #ced4da;
}

.active.myActive {
    background-color: powderblue;
}


.CdDetailPopup {
    visibility: hidden;
    width: 76%;
    background-color: rgba(255, 240, 245, 0.9);
    color: #9932CC;
    text-align: left;
    border-radius: 6px;
    padding: 12px 10px;
    position: absolute;
    z-index: 1000;
    left: 12%;
    bottom: calc(100% + 10px);
}

    .CdDetailPopup::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 45%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba(255, 240, 245, 0.9) transparent transparent transparent;
    }

    .CdDetailPopup.myShow {
        visibility: visible;
        -webkit-animation: fadeIn .8s;
        animation: fadeIn .8s;
    }

.RemarkPopup {
    visibility: hidden;
    width: 76%;
    background-color: rgba(255, 240, 245, 0.9);
    color: #9932CC;
    text-align: left;
    border-radius: 6px;
    padding: 12px 10px;
    position: absolute;
    z-index: 1000;
    left: 12%;
    bottom: calc(100% + 10px);
}

    .RemarkPopup > p {
        margin-bottom: 0;
        font-size: 14px;
    }

    .RemarkPopup::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 45%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgba(255, 240, 245, 0.9) transparent transparent transparent;
    }

    .RemarkPopup.myShow {
        visibility: visible;
        -webkit-animation: fadeIn .8s;
        animation: fadeIn .8s;
    }
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.myCheck {
    display: inline-block;
    transform: rotate(45deg);
    height: 16px;
    width: 8px;
    border-bottom: 3px solid #78b13f;
    border-right: 3px solid #78b13f;
    margin: 0 8px;
}


.center-con {
    position: absolute;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    top: 19px;
    left: 30px;
    z-index: 100;
    padding: 0;
}

.round {
    position: absolute;
    /*border: 2px solid rgb(252, 161, 161);*/
    transform: rotateZ(90deg);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

    #cta .arrow {
        left: 30%;
    }

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 15px;
}

.segunda {
    margin-left: 8px;
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmNhMWExfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

    .round:hover .arrow.primera {
        animation-name: bounceAlpha;
        animation-duration: 1.4s;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
