body {
	background-color: #DDF5EC;
}

#inp {
	width: 34%;
}

#tabl {
	width: 98%;
	margin-left: 1%;
	margin-top: 1.5%;
	margin-right: 1%;
}

tr:nth-child(even) {
	background-color: #ffecda
}

tr:nth-child(odd) {
	background-color: #F6FFFC
}

#ucPagermove {
	margin-left: 40%;
	margin-top: 3.5%;
}

.shl {
	margin-left: 3%;
	margin-top: 2%;
}

.shb {
	margin-top: 2%;
}

#showall {
	height: 38.5px;
	margin-top: -0.1%;
	margin-bottom: 0.1%;
	margin-left: 0.8%;
}

#ContentPlaceHolder1_txtSearch {
	height: 37.5px;
	width: 325px;
	margin-left: 0.79%;
	margin-top: 1.1%;
	border-radius: 3px;
}

#ContentPlaceHolder1_btnSearch {
	height: 38.5px;
	margin-top: -0.1%;
	margin-bottom: 0.1%;
	margin-left: 0.5%;
	width: 70px;
}


#CDN {
	text-align: left;
}


#tdlist {
	text-align: center;
	padding-right: 2.7%;
	padding-left: 1%;
}

#dropdownSearch {
	width: 325px;
}



.lishow:hover {
	background-color: rgb(208 208 208 / 0.54);
}

.lishow {
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 4%;
	padding-right: 5%;
	list-style-position: outside;
}

.form-control {
	display: inline;
}

.btn-outline-primary {
	color: #FF8040;
	border-color: #FF8040;
}

.btn-outline-primary:hover {
	background-color: #FF8040;
	border-color: #FF8040;
}

.table-light {
	font-size:15px;
}
.trlist {
	font-size: 15px;
}
